// Typography
// @import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

:root {
    --font-display: 'Oswald', sans-serif;
    --font-body: 'Libre Baskerville', serif;
    --font-handwriting: 'Gochi Hand', cursive;
}

// Colors & Shadows
:root {
    // Colors
    --color-primary: #ff922b; // Used for primary actions, buttons, highlights
    --color-surface: #333333; // For cards, modals, or containers on top of background
    --color-surface-lighter: #4a4a4a; // For cards, modals, or containers on top of surface
    --color-on-surface: #ebebeb; // For cards, modals, or containers on top of surface
    --color-on-surface-lighter: #f5f5f5; // For cards, modals, or containers on top of surface
    --color-error: #e74c3c; // Used for error states, alerts

    // Rainbow
    --color-red: #f03e3e;
    --color-orange: #ff922b;
    --color-yellow: #ffd43b;
    --color-green: #51cf66;
    --color-teal: #20c997;
    --color-blue: #339af0;
    --color-indigo: #5c7cfa;
    --color-purple: #7950f2;
    --color-pink: #e9417c;
    --color-grey: #adb5bd;
    --color-light-grey: #ced4da;
    --color-black: #131313;

    // Handwriting
    --color-handwriting: var(--red);

    // Shadows
    --shadow-sm: rgba(0, 0, 0, 0.1) 0px 1px 3px;
    --shadow-md: rgba(0, 0, 0, 0.4) 0px 2px 12px;
    --shadow-lg: rgba(0, 0, 0, 0.4) 0px 10px 15px;
    --shadow-text: rgba(0, 0, 0, 0.4) 2px 2px 2px;
}

.page {
    flex: 1;
}

* {
    color: var(--color-on-surface);
    font-size: 1.4rem;
    font-family: var(--font-body);
    outline: none;
    line-height: 1.4;
}

a,
.link {
    font-style: italic;
    text-decoration: none;
    border-bottom: 1px dashed var(--color-on-surface);
    cursor: pointer;
    background-color: transparent;
}

pre {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    border-left: 0.4rem solid var(--color-orange);
    padding: 1rem;
    font-family: monospace;
}

.row {
    display: flex;
    gap: 0.8rem;
}

button.btn {
    font-family: var(--font-body);
    background-color: var(--color-on-surface);
    color: var(--color-surface);
    border: none;
    height: 3.2rem;
    padding: 0 1.6rem;
    cursor: pointer;
    border-radius: 99px;
    border: 1px solid var(--color-on-surface);
    box-shadow: var(--shadow-sm);
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;

    * {
        white-space: nowrap;
    }

    &--mini {
        background: transparent;
        border: none;
        padding: 0;
        height: 1.6rem;

        > img {
            width: 1.4rem;
            height: 1.4rem;
        }

        &:active {
            > img {
                filter: brightness(0.5);
            }
            &::after {
                display: none;
            }
        }
    }

    > .badge {
        position: absolute;
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        background-color: var(--color-red);
        top: -0.15rem;
        right: -0.15rem;
    }

    &.btn--icon {
        background-color: transparent;
        width: 2rem;
        > img {
            width: 2rem;
            height: 2rem;
        }
    }

    * {
        font-family: inherit;
        color: inherit;
    }

    &:hover {
        filter: brightness(1.1);
        box-shadow: var(--shadow-md);
    }

    &:active {
        box-shadow: none;

        &::after {
            content: '';
            position: absolute;
            width: calc(100% + 0.8rem);
            height: calc(100% + 0.8rem);
            top: -0.4rem;
            left: -0.4rem;
            border-radius: 99px;
            border: 1px solid var(--color-on-surface);
        }
    }
}

.disabled {
    opacity: 0.4;
    border-color: transparent;
    pointer-events: none;

    &:hover {
        filter: unset;
    }

    &:active {
        filter: unset;
    }
}

button.btn.btn--alt {
    background-color: var(--color-on-surface-inverted);
    color: var(--color-on-surface);
}

.no-click {
    pointer-events: none !important;
    * {
        pointer-events: none !important;
    }
}

.muted {
    opacity: 0.4;
}

.spacer {
    flex: 1;
}

label {
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
    opacity: 0.6;
    color: var(--color-on-surface);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.5px;
}

.input-block {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

input[type='text'] {
    background-color: var(--color-surface);
    color: var(--color-primary);
    border: 1px solid var(--color-surface-lighter);
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    font-family: var(--font-body);
    font-style: italic;
    font-size: 1.4rem;
    width: 100%;
    box-shadow: var(--shadow-sm);
    transition: all 0.2s;

    &:focus {
        border-color: var(--color-primary);
        box-shadow: var(--shadow-md);
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.callout {
    padding: 0.8rem 1.2rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.hidden {
    display: none !important;
}

// Checkbox
input[type='checkbox'] {
    border: 2px dashed red;
}

@media (max-width: 768px) {
    .desktop-only {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .mobile-only {
        display: none !important;
    }
}
