// Typography
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');
:root {
  --font-family-logo: 'Barrio', cursive;
  --font-family-primary: 'Georgia', serif;
}

// Colors & Shadows
:root {
  // Colors
  --color-primary: #ff922b; // Used for primary actions, buttons, highlights

  --color-surface: #333333; // For cards, modals, or containers on top of background
  --color-surface-inverted: #f5f5f5; // For cards, modals, or containers on top of surface
  --color-error: #e74c3c; // Used for error states, alerts

  --color-on-primary: #f5f5f5; // Text/icons on primary-colored elements
  --color-on-secondary: #f5f5f5; // Text/icons on secondary-colored elements
  --color-on-surface: #f5f5f5; // Text/icons on surface-colored elements
  --color-on-surface-inverted: #333333; // Text/icons on surface-inverted-colored elements

  // Rainbow
  --color-red: #f03e3e;
  --color-orange: #ff922b;
  --color-yellow: #ffd43b;
  --color-green: #51cf66;
  --color-teal: #20c997;
  --color-blue: #339af0;
  --color-indigo: #5c7cfa;
  --color-purple: #7950f2;
  --color-pink: #f06595;
  --color-grey: #adb5bd;
  --color-light-grey: #ced4da;
  --color-black: #131313;

  // Handwriting
  --color-handwriting: var(--red);

  // Shadows
  --shadow-sm: rgba(0, 0, 0, 0.1) 0px 1px 3px;
  --shadow-md: rgba(0, 0, 0, 0.4) 0px 2px 12px;
  --shadow-lg: rgba(0, 0, 0, 0.4) 0px 10px 15px;
  --shadow-text: rgba(0, 0, 0, 0.4) 2px 2px 2px;
}

.page {
  height: 100vh;
}

* {
  color: var(--color-on-surface);
  font-size: 1.6rem;
  font-family: var(--font-family-primary);
}

a {
  font-style: italic;
  text-decoration: none;
  border-bottom: 1px dashed var(--color-on-surface);
}

pre {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  border-left: 0.4rem solid var(--color-orange);
  padding: 1rem;
}

button {
  font-family: var(--font-family-primary);
  background-color: var(--color-on-surface);
  color: var(--color-on-surface-inverted);
  border: none;
  height: 3.2rem;
  padding: 0 1.6rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  * {
    font-family: inherit;
    color: inherit;
  }

  &:hover {
    filter: brightness(1.05);
  }

  &:active {
    filter: brightness(0.95);
  }
}
