// Fonts

@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Trad:wght@100..400&display=swap');

pre {
    background-color: #f4f4f4;
    border-left: 0.4rem solid #f36d33;
    padding: 1rem;
}

button {
    font-family: 'Arial', sans-serif;
    background-color: #f36d33;
    color: #fff;
    border: none;
    padding: 0.4rem 0.8rem;
    cursor: pointer;

    &:hover {
        filter: brightness(1.05);
    }

    &:active {
        filter: brightness(0.95);
    }
}
